# Node.js modules.
node_modules/

# Log files
*.log
*.log.*

# Distribution sources.
dist/

# Generated type declarations.
types/

# Transpiled sources and their source-maps.
src/**/*.js
src/**/*.js.map

# NPM's shrinkwrap.
# We're using `package-lock.json` instead.
npm-shrinkwrap.json

# Yarn's lockfile, Plug'n'Play, folder and settings.
# We're using npm, and it provides its lockfile and settings.
yarn.lock
.pnp.*
.yarn/
.yarnrc
.yarnrc.yaml

# pnpm's lockfile, workspace definitions and hooks.
# We're using npm, and it provides its lockfile and settings.
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile.js
